&.button--style-toggle {
  background: $gray-000;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 0.85rem;
  border-radius: 8px;

  font-size: 0.8rem;
  color: $gray-700;

  &:active {
    transform: scale3d(0.96, 0.96, 0.96);
  }

  svg {
    height: 0.85rem;
    width: 0.85rem;
    fill: $gray-600;
    transition: fill 0.2s ease;
    margin-right: 8px;
  }

  &.button--selected {
    background: $primary-500;
    color: $primary-100;

    svg {
      fill: $primary-100;
    }

    .button__count {
      color: $primary-100;
    }
  }
}
