@import "styles/_variables.scss";

.error-splash {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  > div {
    padding: 2rem;
  }

  .error-splash__title {
    color: $gray-900;
    font-size: 2.5rem;
  }

  .error-splash__description {
    font-size: 1rem;
    line-height: 1.67;
    color: $gray-700;
  }

  .error-splash__icon {
    > svg {
      width: 100%;
      height: 100%;
    }
  }
}
