.theme-jubie {
  --sans-serif: 'Comic Sans MS', cursive;
  --primary-100: #d6e5f7;
  --primary-200: #D6E5F0;
  --primary-300: #9cc7f8;
  --primary-400: #73adf1;
  --primary-500: #4890e4;
  --primary-600: #3e74bc;
  --primary-700: #33578c;
  --primary-800: #253756;
  --primary-900: #0f141f;

  --secondary-300: #FFB376;
  --secondary-500: #FFA45F;
  --secondary-700: #E5813D;
  --secondary-800: #C95F1D;

  --gray-000: paleGreen;
  --gray-100: papayaWhip;
  --gray-200: #EDF2F7;
  --gray-300: #E2E8F0;
  --gray-400: #CBD5E0;
  --gray-500: #A0AEC0;
  --gray-600: magenta;
  --gray-700: orange;
  --gray-750: tomato;
  --gray-800: red; // #2D3748;
  --gray-900: purple;
}
