@import "styles/_variables.scss";

html {
  overflow: hidden;
}

.play {
  height: 100%;

  display: flex;
  align-items: stretch;

  overflow: hidden;

  .play__main {
    flex: 1;
    z-index: 2;
    background: $gray-100;
    overflow: hidden;

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    > div {
      height: 100%;
    }
  }

  .header {
    display: none;
  }

  @media (max-width: $collapse-width) {
    flex-direction: column;

    .header {
      display: block;
    }

    > .sidebar {
      display: none;
    }
  }
}
