@import "styles/_variables.scss";

.auth-screen {
  h1 {
    margin: 0;
    font-family: $sans-serif;
    color: $gray-900;
    font-size: 2rem;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: $primary-500;

    transition: color 0.15s ease;

    &:hover {
      color: $primary-400;
    }
  }

  .auth-screen__subtitle {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.67;
    color: $gray-600;
  }

  .auth-screen__content {
    margin: 2.5rem 0;
  }
}
